---
layout: default
---

        <h3>Karsen and Welch Cleantech Industries</h3>
        <p style="text-align:justify">Karsen & Welch was started in 2001 to serve the needs of Industries, Institutions and  Household consumers with world class cleaning chemicals and products. These products are Bio degradable, eco friendly and manufactured as per the international quality standards.&nbsp; <a href="aboutus"><small>Read more</small></a></p>

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      {% include roomcare.html %}
    </div>
    <div class="item">
      {% include kitchencare.html %}
    </div>

    <div class="item">
      {% include retailcare.html %}
    </div>

    <div class="item">
      {% include industrialcare.html %}
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
