      <table>
        <tr>
          <td width="15%"></td>
          <td width="25%">
            <img src="{{ include.image }}" class="img-responsive" alt="Image is missing">
          </td>
          <td width="2%"></td>
          <td width="43%" valign="top">
 	    <h4>{{ include.title }}</h4>
   	    <p align="justify">{{ include.description }}</p><br>
  <a href="{{ include.target }}"><button class="btn btn-info btn-sm">Products</button></a>
  <a href="{{ include.brouchretarget }}"><button class="btn btn-info btn-sm">Brouchre</button></a>
  <a href="{{ include.enquiretarget }}"<button class="btn btn-info btn-sm">Enquire</button></a>
          </td>
          <td width="15%"></td>
        </tr>
      </table>
