      <table>
        <tr>
          <td width="30%">
            <img src="/assets/img/kitchencare.jpg" class="img-responsive" alt="Kitchen care image is missing">
          </td>
	  <td width="1%"></td>
          <td width="55%" valign="top">
	    <h4>Kitchen care</h4>
    	    <p align="justify" style="font-size:120%">
  	Kitchen care is the category of products that are exclusively designed to clean the various areas, materials in a typicial indian kitchen. It could be from a simple floor strain to a complex oil strain. We offer Liquid sanitizer, Hand wash, Dish wash, Sanitizer wipes, Scrouting pads, Oven/Grill Cleaner, Kitchen floor cleaner annd more. These products are available in both wholesale and in retail packs suitable for any magnitude of needs.
            </p>
<br>
  <button class="btn btn-info btn-sm">Products</button>
  <button class="btn btn-info btn-sm">Brouchre</button>
  <button class="btn btn-info btn-sm">Enquire</button>
          </td>
          <td width="14%"></td>
        </tr>
      </table>
