      <table>
        <tr>
          <td width="30%">
            <img src="/assets/img/retailcare.jpg" class="img-responsive" alt="Retail care image is missing">
          </td>
          <td width="5%"></td>
          <td width="65%" valign="top">
 	    <h4>Retail packs</h4>
	    <p align="justify">
All Room care, Kitchen care products are avaialble for domestic use. 
            </p>

  <a href="/categories/retailcare"><button class="btn btn-info btn-sm">Products</button></a>
  <button class="btn btn-info btn-sm">Brouchre</button>
  <button class="btn btn-info btn-sm">Enquire</button>
          </td>
        </tr>
      </table>
