      <table>
        <tr>
          <td width="30%">
            <img src="/assets/img/roomcare.jpg" class="img-responsive" alt="Roomcare image is missing">
          </td>
          <td width="1%"></td>
          <td width="55%" valign="top">
	    <h4>Room care</h4>
            <p align="justify" style="font-size:120%">
 		Room care is the category of products that are exclusively designed to clean the various areas of your guest room. We offer Floor cleaner, Liquid Toilet cleaner, Multi-surface cleaner, Glass Cleaner, Furniture polish, Air freshner, Carpet cleaner and more. We offer a varity of packaging options that would cater the needs of businesses of any size.
            </p><br>
  <a href="/categories/roomcare"><button class="btn btn-info btn-sm">Products</button></a>
  <button class="btn btn-info btn-sm">Brouchre</button>
  <button class="btn btn-info btn-sm">Enquire</button>
</p>    </td>
        <td width="14%"></td>
        </tr>
      </table>
