<!-- This is the main layouting and styling api's. The document that includes this content will be depending on API's provided by the following. It is not absolutely necessary to keep this here and the actual document somewhere. But subjectively kept this way to separate the CDN stuff from actual web site. The perosns going to manipulate the site will be totally ignorant about the techincal stuff. -->


<!DOCTYPE html>
<html lang="en">
  <!-- Contains stuff that includes the required css and java script -->
  {% include bootstrap.html %}
  <body>

      <!-- The fragment that includes a bootstrap based css menu that wil be displayed across all the pages across the site-->
   {% include menu.html %}
  <div class="container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10"></div>
      <!-- Actual page content -->
      {{ content }}
      <!-- The footer content for all the pages -->
      {% include  footer.html %}
    </div>
    <div class="col-md-1"></div>
   </div>
   </div>
  </body>
</html>
